@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.flex-body {
  padding: 0 11.7vw;
}

:root {
  --dark: #343a40;
  --gray: #7a7d85;
  --primary: #7879f1;
  --primary-v: #8086ff;
  --secondary: #ffabab;
  --secondary-v: #ffdede;
  --background: #ffffff;
  --surface: #ffffff;
  --error: #ff6c6c;
  --unknown: #ffeea6;
  --success: #aeffb0;
  --danger: #ffcaca;
  --on-primary: #ffffff;
  --on-secondary: #343a40;
  --on-background: #343a40;
  --on-unknown: #ffe564;
  --on-success: #70b276;
  --on-error: #ff6c6c;
}

/* scroll bar  */

/* width */
::-webkit-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  opacity: 0;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  transition-property: right, width;
  transition-duration: 0.8s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--gray);
  opacity: 1;
  width: 10px;
  margin: 2px;
  border-radius: 10px;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary); 
}


html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-smooth body {
  overflow: hidden;
}

html.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbarr:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}


/* headings  */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
  color: var(--dark);
}

h1 {
  font-size: 95;
  font-weight: 300;
  letter-spacing: -1.5px;
  line-height: 135.7px;
}
h2 {
  font-size: 60;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 85.7px;
}
h3 {
  font-size: 48;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 68.6px;
}
h4 {
  font-size: 35;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 50px;
}
h5 {
  font-size: 25;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 35.7px;
}
h6 {
  font-size: 21;
  font-weight: 500;
  letter-spacing: 0.15px;
  line-height: 30px;
}

/* sub-titles  */

.subtitle-1 {
  font-family: "Poppins";
  font-size: 17;
  font-weight: 400;
  letter-spacing: 0.15px;
  line-height: 24.3px;
}
.subtitle-2 {
  font-family: "Poppins";
  font-size: 15;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 21.4px;
}

.subtitle-3 {
  font-family: "Roboto";
  font-size: 12;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 17.1px;
}

/* body-text  */

.body-1 {
  font-family: "Roboto";
  font-size: 18;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: 25.7px;
}
.body-2 {
  font-family: "Roboto";
  font-size: 16;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 22.9px;
}

/* button text  */

.btn-txt {
  font-family: "Roboto";
  font-size: 14;
  font-weight: 500;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  line-height: 20px;
}

.caption {
  font-family: "Roboto";
  font-size: 16;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: 22.9px;
}

.overline {
  font-family: "Roboto";
  font-size: 12;
  font-weight: 400;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  line-height: 17.1px;
}

.fg-errors {
  font-family: "Roboto";
  font-size: 12;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 17.1px;
}

.all-caps {
  text-transform: uppercase;
}

.small-text {
  font-family: "Roboto";
  font-size: 10;
  font-weight: 500;
  letter-spacing: 3%;
  line-height: 15px;
}

/* button style  */
.btn {
  font-family: "Roboto";
  font-size: 14;
  font-weight: 500;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.374rem 0.75rem;
  line-height: 1.5;
  border-radius: 24px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-lg {
  font-family: "Roboto";
  font-size: 14;
  font-weight: 500;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 0.75rem;
  line-height: 1.5;
  border-radius: 24px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* FONT-COLORS  */

.dark {
  color: var(--dark);
}
.gray {
  color: var(--gray);
}
.primary {
  color: var(--primary);
}
.primary-v {
  color: var(--primary-v);
}
.secondary {
  color: var(--secondary);
}
.secondary-v {
  color: var(--secondary-v);
}
.background {
  color: var(--background);
}
.surface {
  color: var(--surface);
}
.error {
  color: var(--error);
}
.unknown {
  color: var(--unknown);
}
.success {
  color: var(--success);
}
.danger {
  color: var(--danger);
}
.on-primary {
  color: var(--on-primary);
}
.on-secondary {
  color: var(--on-secondary);
}
.on-background {
  color: var(--on-background);
}
.on-unknown {
  color: var(--on-unknown);
}
.on-success {
  color: var(--on-success);
}
.on-error {
  color: var(--on-error);
}

/* BACKGROUND_COLORS  */

.bg-dark {
  background: var(--dark);
}
.bg-gray {
  background: var(--gray);
}
.bg-primary {
  background: var(--primary);
}
.bg-primary-v {
  background: var(--primary-v);
}
.bg-secondary {
  background: var(--secondary);
}
.bg-secondary-v {
  background: var(--secondary-v);
}
.bg-background {
  background: var(--background);
}
.bg-surface {
  background: var(--surface);
}
.bg-error {
  background: var(--error);
}
.bg-unknown {
  background: var(--unknown);
}
.bg-success {
  background: var(--success);
}
.bg-danger {
  background: var(--danger);
}
.bg-on-primary {
  background: var(--on-primary);
}
.bg-on-secondary {
  background: var(--on-secondary);
}
.bg-on-background {
  background: var(--on-background);
}
.bg-on-unknown {
  background: var(--on-unknown);
}
.bg-on-success {
  background: var(--on-success);
}
.bg-on-error {
  background: var(--on-error);
}

/* BORDER_COLORS  */

.border-dark {
  border: 1px solid var(--dark);
}
.border-gray {
  border: 1px solid var(--gray);
}
.border-primary {
  border: 1px solid var(--primary);
}
.border-primary-v {
  border: 1px solid var(--primary-v);
}
.border-secondary {
  border: 1px solid var(--secondary);
}
.border-secondary-v {
  border: 1px solid var(--secondary-v);
}
.border-background {
  border: 1px solid var(--background);
}
.border-surface {
  border: 1px solid var(--surface);
}
.border-error {
  border: 1px solid var(--error);
}
.border-unknown {
  border: 1px solid var(--unknown);
}
.border-success {
  border: 1px solid var(--success);
}
.border-danger {
  border: 1px solid var(--danger);
}
.border-on-primary {
  border: 1px solid var(--on-primary);
}
.border-on-secondary {
  border: 1px solid var(--on-secondary);
}
.border-on-background {
  border: 1px solid var(--on-background);
}
.border-on-unknown {
  border: 1px solid var(--on-unknown);
}
.border-on-success {
  border: 1px solid var(--on-success);
}
.border-on-error {
  border: 1px solid var(--on-error);
}

/* FONT SETTINGS */

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

/* width  */

.w-1 {
  width: 1%;
}
.w-2 {
  width: 2%;
}
.w-3 {
  width: 3%;
}
.w-4 {
  width: 4%;
}
.w-5 {
  width: 5%;
}
.w-6 {
  width: 6%;
}
.w-7 {
  width: 7%;
}
.w-8 {
  width: 8%;
}
.w-9 {
  width: 9%;
}
.w-10 {
  width: 10%;
}
.w-11 {
  width: 11%;
}
.w-12 {
  width: 12%;
}
.w-13 {
  width: 13%;
}
.w-14 {
  width: 14%;
}
.w-15 {
  width: 15%;
}
.w-16 {
  width: 16%;
}
.w-17 {
  width: 17%;
}
.w-18 {
  width: 18%;
}
.w-19 {
  width: 19%;
}
.w-20 {
  width: 20%;
}
.w-21 {
  width: 21%;
}
.w-22 {
  width: 22%;
}
.w-23 {
  width: 23%;
}
.w-24 {
  width: 24%;
}
.w-25 {
  width: 25%;
}
.w-26 {
  width: 26%;
}
.w-27 {
  width: 27%;
}
.w-28 {
  width: 28%;
}
.w-29 {
  width: 29%;
}
.w-30 {
  width: 30%;
}
.w-31 {
  width: 31%;
}
.w-32 {
  width: 32%;
}
.w-33 {
  width: 33%;
}
.w-34 {
  width: 34%;
}
.w-35 {
  width: 35%;
}
.w-36 {
  width: 36%;
}
.w-37 {
  width: 37%;
}
.w-38 {
  width: 38%;
}
.w-39 {
  width: 39%;
}
.w-40 {
  width: 40%;
}
.w-41 {
  width: 41%;
}
.w-42 {
  width: 42%;
}
.w-43 {
  width: 43%;
}
.w-44 {
  width: 44%;
}
.w-45 {
  width: 45%;
}
.w-46 {
  width: 46%;
}
.w-47 {
  width: 47%;
}
.w-48 {
  width: 48%;
}
.w-49 {
  width: 49%;
}
.w-50 {
  width: 50%;
}
.w-51 {
  width: 51%;
}
.w-52 {
  width: 52%;
}
.w-53 {
  width: 53%;
}
.w-54 {
  width: 54%;
}
.w-55 {
  width: 55%;
}
.w-56 {
  width: 56%;
}
.w-57 {
  width: 57%;
}
.w-58 {
  width: 58%;
}
.w-59 {
  width: 59%;
}
.w-60 {
  width: 60%;
}
.w-61 {
  width: 61%;
}
.w-62 {
  width: 62%;
}
.w-63 {
  width: 63%;
}
.w-64 {
  width: 64%;
}
.w-65 {
  width: 65%;
}
.w-66 {
  width: 66%;
}
.w-67 {
  width: 67%;
}
.w-68 {
  width: 68%;
}
.w-69 {
  width: 69%;
}
.w-70 {
  width: 70%;
}
.w-71 {
  width: 71%;
}
.w-72 {
  width: 72%;
}
.w-73 {
  width: 73%;
}
.w-74 {
  width: 74%;
}
.w-75 {
  width: 75%;
}
.w-76 {
  width: 76%;
}
.w-77 {
  width: 77%;
}
.w-78 {
  width: 78%;
}
.w-79 {
  width: 79%;
}
.w-80 {
  width: 80%;
}
.w-81 {
  width: 81%;
}
.w-82 {
  width: 82%;
}
.w-83 {
  width: 83%;
}
.w-84 {
  width: 84%;
}
.w-85 {
  width: 85%;
}
.w-86 {
  width: 86%;
}
.w-87 {
  width: 87%;
}
.w-88 {
  width: 88%;
}
.w-89 {
  width: 89%;
}
.w-90 {
  width: 90%;
}
.w-91 {
  width: 91%;
}
.w-92 {
  width: 92%;
}
.w-93 {
  width: 93%;
}
.w-94 {
  width: 94%;
}
.w-95 {
  width: 95%;
}
.w-96 {
  width: 96%;
}
.w-97 {
  width: 97%;
}
.w-98 {
  width: 98%;
}
.w-99 {
  width: 99%;
}
.w-100 {
  width: 100%;
}

/* height  */
.h-1 {
  height: 1%;
}
.h-2 {
  height: 2%;
}
.h-3 {
  height: 3%;
}
.h-4 {
  height: 4%;
}
.h-5 {
  height: 5%;
}
.h-6 {
  height: 6%;
}
.h-7 {
  height: 7%;
}
.h-8 {
  height: 8%;
}
.h-9 {
  height: 9%;
}
.h-10 {
  height: 10%;
}
.h-11 {
  height: 11%;
}
.h-12 {
  height: 12%;
}
.h-13 {
  height: 13%;
}
.h-14 {
  height: 14%;
}
.h-15 {
  height: 15%;
}
.h-16 {
  height: 16%;
}
.h-17 {
  height: 17%;
}
.h-18 {
  height: 18%;
}
.h-19 {
  height: 19%;
}
.h-20 {
  height: 20%;
}
.h-21 {
  height: 21%;
}
.h-22 {
  height: 22%;
}
.h-23 {
  height: 23%;
}
.h-24 {
  height: 24%;
}
.h-25 {
  height: 25%;
}
.h-26 {
  height: 26%;
}
.h-27 {
  height: 27%;
}
.h-28 {
  height: 28%;
}
.h-29 {
  height: 29%;
}
.h-30 {
  height: 30%;
}
.h-31 {
  height: 31%;
}
.h-32 {
  height: 32%;
}
.h-33 {
  height: 33%;
}
.h-34 {
  height: 34%;
}
.h-35 {
  height: 35%;
}
.h-36 {
  height: 36%;
}
.h-37 {
  height: 37%;
}
.h-38 {
  height: 38%;
}
.h-39 {
  height: 39%;
}
.h-40 {
  height: 40%;
}
.h-41 {
  height: 41%;
}
.h-42 {
  height: 42%;
}
.h-43 {
  height: 43%;
}
.h-44 {
  height: 44%;
}
.h-45 {
  height: 45%;
}
.h-46 {
  height: 46%;
}
.h-47 {
  height: 47%;
}
.h-48 {
  height: 48%;
}
.h-49 {
  height: 49%;
}
.h-50 {
  height: 50%;
}
.h-51 {
  height: 51%;
}
.h-52 {
  height: 52%;
}
.h-53 {
  height: 53%;
}
.h-54 {
  height: 54%;
}
.h-55 {
  height: 55%;
}
.h-56 {
  height: 56%;
}
.h-57 {
  height: 57%;
}
.h-58 {
  height: 58%;
}
.h-59 {
  height: 59%;
}
.h-60 {
  height: 60%;
}
.h-61 {
  height: 61%;
}
.h-62 {
  height: 62%;
}
.h-63 {
  height: 63%;
}
.h-64 {
  height: 64%;
}
.h-65 {
  height: 65%;
}
.h-66 {
  height: 66%;
}
.h-67 {
  height: 67%;
}
.h-68 {
  height: 68%;
}
.h-69 {
  height: 69%;
}
.h-70 {
  height: 70%;
}
.h-71 {
  height: 71%;
}
.h-72 {
  height: 72%;
}
.h-73 {
  height: 73%;
}
.h-74 {
  height: 74%;
}
.h-75 {
  height: 75%;
}
.h-76 {
  height: 76%;
}
.h-77 {
  height: 77%;
}
.h-78 {
  height: 78%;
}
.h-79 {
  height: 79%;
}
.h-80 {
  height: 80%;
}
.h-81 {
  height: 81%;
}
.h-82 {
  height: 82%;
}
.h-83 {
  height: 83%;
}
.h-84 {
  height: 84%;
}
.h-85 {
  height: 85%;
}
.h-86 {
  height: 86%;
}
.h-87 {
  height: 87%;
}
.h-88 {
  height: 88%;
}
.h-89 {
  height: 89%;
}
.h-90 {
  height: 90%;
}
.h-91 {
  height: 91%;
}
.h-92 {
  height: 92%;
}
.h-93 {
  height: 93%;
}
.h-94 {
  height: 94%;
}
.h-95 {
  height: 95%;
}
.h-96 {
  height: 96%;
}
.h-97 {
  height: 97%;
}
.h-98 {
  height: 98%;
}
.h-99 {
  height: 99%;
}
.h-100 {
  height: 100%;
}

.pointer {
  cursor: pointer;
}

/* HR */

hr {
  height: 1px;
  background: #ccc;
}

/* Alignment Classes */
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}
