        




header{
    width:100vw;
    height:10vh;
    background-color:blueviolet;

}


        
footer{
    width:100vw;
    height:10vh;
    background-color:blueviolet;
    position:absolute;
    bottom:0;

}

.container{
    display: flex;
     height:100vh;
     width:80vw;
     margin:0 auto;
     transform:translate(0,4%)
     
}

.left{

  height:100%;
  width:40vw;
position: relative;
margin-left:151px;


}

.right{

    height:100%;
     margin-right:151px;

    width:40vw;

}

.userbox {

    
    width: 25vw;
    margin:0 auto;
    margin-top:20px;
    height: 380px;
    border: 1px solid #ACACAC;
    box-sizing: border-box;
   

}


.userbox #name{
    color:#7879F1;
    font-weight:800;
}

.star_rating{
    margin-top:8px;
}
.userbox .details{
  
     width: 20vw;
     height:70px;
    border-bottom:1px solid #b6b4b4;
     border-top:1px solid #b6b4b4;
    padding:0 18px;
    margin-top:20px;
}

.userbox .details #from{
     display: flex;
     justify-content: space-between;

}

.userbox .details #membersince{
     display: flex;
     justify-content: space-between;

   

}
.userbox .details #from{

    padding:3px 0;
  
   

}


.userbox .cityandmembership{
  
  
    padding-top:3px;
    padding-bottom:4px;
      align-items:center;
      margin:0 15px;

   
   
}


.socialmedia{

    width: 25vw;
    margin:0 auto;
    margin-top:40px;
    height: 220px;
    border: 1px solid #ACACAC;
    box-sizing: border-box;

}

.iconsm{
    height:40px;
    width:40px;
}

.iconsmadd{
    height:30px;
    width:30px;

}
.socialmedia span{     
    font-size:18px;
    position: relative;
    top:30px;
    left:20px;
    margin-left:20px;
    width:100%;
    font-weight:600;
    
   

}

.setofsocialmedia{
    display: flex;
    justify-content: space-around;
    margin-top:7vh;
}
.setofsocialmediaplus{
    display: flex;
    justify-content: space-around;
    margin-top:1vh;
}
.activesessions{
width: 30vw;
height: 70px;
left: 558px;
top: 107px;
margin:0 auto;
margin-top:20px;

border: 1px solid #ACACAC;
display: grid;
justify-content: space-between;
grid-template-columns: 12fr 12fr;
}

.requestsessions{

width: 30vw;
height: 70px;

margin:0 auto;
margin-top:40px;

border: 1px solid #ACACAC;
display: grid;
justify-content: space-between;
grid-template-columns: 12fr 12fr;


}

.activesessions span{
    margin:20px 0px 0px 20px ;
}


.content{

width: 30vw;
height: 187px;
left: 558px;
top: 107px;
margin:0 auto;
margin-top:40px;

border: 1px solid #ACACAC;
}

#activesessionselect{
margin:15px 0px 0px 20px ;
width: 11vw;
height: 40px;
left: 862px;
top: 127px;

border: 1px solid #ACACAC;
box-sizing: border-box;
border-radius: 24px;
padding:5px;
padding-left:50px;
cursor: pointer;
}

.requestsessions span{
       margin:20px 0px 0px 20px ;
}

.requestsessions button{

width: 11vw;
height: 40px;
 background: #7879F1;
    color:#fff;
    justify-content: center;
  margin:18px 0px 0px 20px ;
  border-radius: 24px;
  border:1px transparent solid;
  




}


.detailimg{
    width:25px;
    height:25px;
}
.requestsessions button:hover,button:active  {

        cursor: pointer;
}




#content1 p{     
    font-size:12px;
    margin-top:10px;
    
    width:100%;
    

}

#content1 #firstheading{
        font-size:12px;
    margin-top:30px;
    margin-left:30px;
    
    width:100%;
}

#content2 span{     
    font-size:12px;
    margin-top:20px;
    margin-left:20px;
    width:100%;
    position:relative;
    top:5px;

}

#content1 span:after{ 
   content: '';
  border-bottom: 3px solid #000;
  width: 10px;
}

#contentpara1{
   
width: 28vw;
height: 110px;

display: flex;
justify-content: space-around;
margin-left:20px;
margin-top:20px;

box-sizing: border-box;
}


#study_img{
   width: 118px;
height: 86px;
margin-left: 20px;

}

#userimg{
    margin:0 auto;
      width:150px;
    height:150px;
    display: flex;
    justify-content: center;
    padding-top:20px;
}
.checked {
  color: orange;
}

.unchecked {
  color: #D4D4D4;
}
 .fa-star{
    font-size:1.5rem;
}

/* -------------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.flex-body {
  padding: 0 11.7vw;
}

:root {
  --dark: #343a40;
  --gray: #7a7d85;
  --primary: #7879f1;
  --primary-v: #8086ff;
  --secondary: #ffabab;
  --secondary-v: #ffdede;
  --background: #ffffff;
  --surface: #ffffff;
  --error: #ff6c6c;
  --unknown: #ffeea6;
  --success: #aeffb0;
  --danger: #ffcaca;
  --on-primary: #ffffff;
  --on-secondary: #343a40;
  --on-background: #343a40;
  --on-unknown: #ffe564;
  --on-success: #70b276;
  --on-error: #ff6c6c;
}

/* scroll bar  */

/* width */
::-webkit-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  transition-property: right, width;
  transition-duration: 0.8s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--gray);
  opacity: 1;
  width: 10px;
  margin: 2px;
  border-radius: 10px;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-smooth body {
  overflow: hidden;
}

html.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbarr:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

/* headings  */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
  color: var(--dark);
}

h1 {
  font-size: 95;
  font-weight: 300;
  letter-spacing: -1.5px;
  line-height: 135.7px;
}
h2 {
  font-size: 60;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 85.7px;
}
h3 {
  font-size: 48;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 68.6px;
}
h4 {
  font-size: 35;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 50px;
}
h5 {
  font-size: 25;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 35.7px;
}
h6 {
  font-size: 21;
  font-weight: 500;
  letter-spacing: 0.15px;
  line-height: 30px;
}

/* sub-titles  */

