/* marketplace navigation bar raw css  */
.marketplace-nav {
  position: relative;
  display: grid;
  grid-template-columns: 15% 65% 20%;
  grid-template-rows: 100%;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
}

.marketplace-nav > ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.marketplace-nav a {
  text-decoration: none;
}

.marketplace-nav a:hover {
  color: var(--primary);
  transition: 0.33s;
}

/* nav-search css  */
.nav-search a {
  margin-right: 3vw;
}

/* nav-login css */
.nav-login {
  justify-self: end;
}

/* .nav-login a {
  margin-right: 1.5vw;
} */

.logo {
  font-size: 24px;
  margin-bottom: 3px;
}

/* scroll lock css  */

.scroll-lock {
  height: 100vh;
  overflow: hidden;
}

/* HAMBURGER MENU STYLES  */
/* ---------------------------  */
.hamburger-menu {
  position: fixed;
  z-index: 9999;
  background: var(--background);
  width: 400px;
  top: 0;
  left: -400px;
  height: 100vh;
  font-weight: 300;
  font-size: 24px;
  transition: 0.5s;
}

.dark-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transition: 0.3s;
}

.hamburger-menu ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.hamburger-menu ul li {
  margin: 10px 0 0 60px;
}

.hamburger-menu ul li a {
  text-decoration: none;
  color: var(--gray);
}

/* hamburger menu animations  */
.hamburgerMenu-open {
  left: 0;
}

.hamburgerMenu-close {
  left: -400px;
}

.open-overlay {
  z-index: 8998;
  opacity: 1;
}

.close-overlay {
  z-index: -8998;
  opacity: 0;
}

/* ---------------------------  */
/* ---------------------------  */

/* tablet css  */
@media screen and (max-width: 1100px) {
  .nav-search {
    visibility: hidden;
  }

  .logo-content {
    display: flex;
    align-items: center;
  }

  .marketplace-nav {
    grid-template-columns: 25% 55% 20%;
  }

  .hamburger {
    height: 30px;
    width: 30px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
  }

  .hamburger div {
    height: 3px;
    width: 28px;
    background: var(--dark);
    border-radius: 24px;
    margin: 5px 0;
  }

  .hamburger::before {
    content: "";
    height: 3px;
    width: 28px;
    background: var(--dark);
    border-radius: 24px;
  }

  .hamburger::after {
    content: "";
    height: 3px;
    width: 28px;
    background: var(--dark);
    border-radius: 24px;
  }
}

/* mobile responsive css  */
@media screen and (max-width: 768px) {
  .hamburger-close {
    position: absolute;
    right: 5px;
    top: 10px;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
  }

  .hamburger-close::after {
    content: "";
    height: 3px;
    width: 28px;
    background: var(--dark);
    border-radius: 24px;
    transform: translateY(-1px) rotate(45deg);
  }

  .hamburger-close::before {
    content: "";
    height: 3px;
    width: 28px;
    background: var(--dark);
    border-radius: 24px;
    transform: translateY(2px) rotate(135deg);
  }

  .nav-login {
    visibility: hidden;
  }

  .hamburger-menu {
    width: 100vw;
  }

  .hamburgerMenu-open {
    left: 0;
  }

  .hamburgerMenu-close {
    left: -100vw;
  }
}



.nav-search form {
    display: flex;
    /* margin: 7px 0 0 0; */
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nav-search form button {
    padding: 8px 25px;
    height: 43px;
}

/* SEARCH BOX  */
.search-field {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    margin-right: 15px;
    width: 60%;
}

.search-field input {
    font-weight: 500;
    width: 100%;
    font-size: 14px;
    color: #495055;
    padding: 8px 25px;
    border-radius: 24px;
    border: 2px solid #d9d9d9;
    outline: none;
}

div.search-field span.placeholder {
    position: absolute;
    margin: 7.5px 0;
    padding: 0 2px;
    font-family: Roboto, sans-serif;
    color: #6c757d;
    display: flex;
    align-items: center;
    font-size: 14px;
    top: 0;
    left: 25px;
    transition: all 0.2s;
    transform-origin: 0% 0%;
    background: none;
    pointer-events: none;
}

div.search-field select:valid+span.placeholder,
div.search-field select:focus+span.placeholder {
    transform: scale(0);
    background: #fff;
}

div.search-field input:valid+span.placeholder,
div.search-field input:focus+span.placeholder {
    transform: scale(0);
    background: #fff;
}

div.search-field input:focus {
    color: #284b63;
    border-color: #284b63;
}

div.search-field input:focus+span.placeholder {
    color: #284b63;
}

