.service {
  width: 100%;
  margin-bottom: 50px;
}

.service .service-details {
  display: flex;
  width: 100%;
}

.service .service-details .pane-1 {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.pane-1 .gig {
  display: flex;
  flex-direction: column;
}

.pane-1 .gig .title-box {
  margin: 20px 0;
}

.pane-1 .gig .review-line {
  display: flex;
  align-items: center;
}
.pane-1 .gig .review-line .stars {
  margin: 0 5px 0 5px;
}

.pane-1 .gig .about-service {
  margin: 20px 0;
}
.pane-1 .gig .about-service h6 {
  margin: 0 0 20px 0;
}
.pane-1 .gig .about-service .description-title {
  margin: 10px 0;
}
.pane-1 .gig .about-service .description {
  margin: 0 0 20px 0;
  max-width: 680px;
  text-align: justify;
}

.pane-1 .tutor {
  margin: 40px 0 0 0;
}

.pane-1 .tutor .card {
  display: flex;
  align-items: center;
  margin: 20px 0 0 0;
}

.pane-1 .tutor .card .details {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.pane-1 .tutor .card .details .stars {
  display: flex;
  align-items: center;
}
.pane-1 .tutor .card .details .rate {
  margin: 0 0 0 5px;
}

.pane-1 .tutor button {
  font-family: "Poppins";
  background: var(--surface);
  color: var(--gray);
  border: 1px solid var(--gray);
  border-radius: 10px;
  height: 40px;
  width: 300px;
  font-size: 1rem;
  font-weight: 600;
  margin: 10px 0;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.pane-1 .tutor button:focus {
  transform: scaleX(0.98);
}

.pane-1 .tutor .tutor-details {
  width: 610px;
  border: 1px solid #acacac;
  border-radius: 10px;
  padding: 30px;
  margin-top: 30px;
}

.pane-1 .tutor .tutor-details .tutor-info {
  display: flex;
  justify-content: space-between;
  padding: 0 150px 0 0;
}

.pane-1 .tutor .tutor-details .tutor-bio {
  margin: 20px 0 0 0;
}

.pane-1 .tutor .tutor-details .tutor-info .from {
  margin: 0 0 30px 0;
  font-weight: 700px;
}
.pane-1 .tutor .tutor-details .tutor-info .member-since {
  margin: 0 0 30px 0;
  font-weight: 700px;
}
.pane-1 .tutor .tutor-details .tutor-info .detail {
  margin-top: 10px;
}

.service .service-details .pane-2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 35%;
}
