// import google font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* reset styles */
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

.test {
  color: $primary;
}

// justify classes for flexbox
.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

// align classes for flexbox

.align-items-center {
  align-items: center;
}

.align-items-around {
  align-items: space-around;
}

.align-items-between {
  align-items: space-between;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.btn {
  cursor: pointer;
  background-color: $primary;
  border-radius: 0;
  border-color: $primary;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  font-weight: 600;
  font-size: 14px;
  text-transform: capitalize;
  color: #fff;
  transition: all 0.1s ease-in-out;
  border-radius: 5px;

  &:hover {
    transform: scale(1.005);
    -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  }
}

.basic-border {
  border: 1px solid #e6e6e6;
}

.border-info {
  border-color: $info !important;
}
.border-error {
  border-color: $error !important;
}
.border-success {
  border-color: $success !important;
}
.border-primary {
  border-color: $primary !important;
}
