.cover .overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 2;
}

/* cover image of the how it works page  */
.cover {
  position: relative;
  background: url(../../../../img/public/pages/how-it-works/student.jpg);
  width: 100%;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fg-page {
  margin: 50px 0;
}

.fg-page .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 500px;
  margin: 100px 0;
}

.fg-page .fg-image {
  width: 35%;
  height: 80%;
}
.fg-page .fg-description {
  width: 50%;
}
.fg-page .fg-description h4 {
  margin: 0 0 25px 0;
}

.fg-page .fg-description .fg-image {
  display: none;
  width: 300px;
  height: 300px;
  margin: 0 0 30px 0;
}

.reverse {
  flex-direction: row-reverse;
}

.secondary-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.21s ease-in;
}

.secondary-overlay:hover {
  background: rgba(255, 171, 171, 0.5);
}

@media screen and (max-width: 1200px) {
  .fg-page .container {
    flex-direction: column-reverse;
    height: unset;
    min-height: 500px;
  }
  .fg-page .fg-description {
    width: 100%;
    height: 100%;
  }

  .fg-page .fg-description .fg-image {
    display: block;
  }

  .fg-page .fg-image {
    display: none;
    height: 0;
    width: 0;
  }
  .reverse {
    flex-direction: column-reverse;
  }
}
