
      @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
  font-family: 'Open Sans', sans-serif;
}


.tutor_registration{
    
    width:80%;
    align-items:center;
    margin:0 auto;
    padding:90px;


}   .input-field {
        margin: 20px 20px 20px 20px;
      }

.subscribe{
  display:grid;
  width:50%;
  grid-template-columns:20px 500px;


}
#subscribe{
    padding:20px;
	background:#ff0000;	
    margin-top:10px;
}



.input-field{
  width
}

input[type='text']{
  border-radius:24px;
  outline:none;
  border: 1px solid #acacac;
  width:350px;
  padding: 13px 25px;
}
input[type='email']{
  border-radius:24px;
  outline:none;
  border: 1px solid #acacac;
  width:350px;
  padding: 13px 25px;
}
input[type='password']{
  border-radius:24px;
  outline:none;
  border: 1px solid #acacac;
  width:350px;
  padding: 13px 25px;
}

.button_reg{
  background:#7879F1;
    padding: 13px 25px;
    border: 1px solid #acacac;
    border-radius:24px;
    outline:none;
    width:745px;
    color:white;
    margin-top:8px;
}

.join-now{
  font-size:13px;
  margin-top:7px;
}